.page.theme_dark {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --article-title-color: #000028;
  --bcg-color: #000028;
  --page-title-color: #DB00FF;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__dark-decore {
  visibility: visible;
}

.theme_dark .decorated-zone,
.theme_dark .section__title {
  color: var(--accent-color);
}

.theme_dark .title-decor {
  color: var(--article-title-color);
}