.page.theme_light {
  --bcg-color: #FFF1F7;
  --page-title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__dark-decore {
  visibility: hidden;
}

.theme_light .decorated-zone,
.theme_light .title-decor,
.theme_light .section__title {
  color: var(--text-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (orientation: landscape) {
  .theme_light .header__title,
  .theme_light .footer .text-decor {
    --accent-color: #FF0070;
  }
}